<!DOCTYPE html>
<html>
	<head>
			<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	</head>

  	<body>
  		<center><img src="/assets/연지공지로고.png" width="200px"></center>

	    <div class="cafe">
	    	<hr class="seperate-line" width="500px" height="2px" color="#3d2a46">
	    	<div class="title"><a>공부하기 좋은 카페 추천</a></div>
	    </div>
	    <div class="review">
	    	<hr class="seperate-line" width="500px" height="2px" color="#3d2a46">
	    	<div class="title"><a>연지공지 메이트들의 후기</a></div>
	    </div>

	    
	</body>
	<footer>
		<center>	
	    <nav class="navbar">
	    	<div class="navbar-nav">
		      <a class="nav-item" href="#">오늘의<br>메이트</a>
		      <a class="nav-item" href="#">주고받은<br>하트목록</a>
		      <a class="nav-item" href="#">메이트와<br>속닥속닥</a>
		      <a class="nav-item" href="#">내프로필<br>관리하기</a>
		    </div>
	    </nav>
		</center>
	</footer>
</html>
